################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ncrunchsolution
*.user
/CalculatorService/packages
bin
obj
.vs